/* 489-534 челы уезжают -
    footer прилип после главного экрана из-за введения main -
    Как стриггерить анимацию только в тот момент, когда элемент попадает на экран -
    Какой из параллаксов нужен? (Текст едет быстрее/мышь/картинка скролится сама по себе) -
    Сделать загрузку(Как без js?) -
    Глянуть где можно засунуть еще транзишны
    Окраска img в конце -
    */
body {
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #334051;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: logo 1.3s;
    -o-animation: logo 1.3s;
    animation: logo 1.3s;
}

@keyframes logo{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    margin-right: 40px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-animation: menuanim 0.4s ease forwards;
    -o-animation: menuanim 0.4s ease forwards;
    animation: menuanim 0.4s ease forwards;
    opacity: 0;
}

.menu li a{
    color: #fff;
    transition: all 0.1s;
    display: inline-block;
}

.menu li:nth-child(2){
    animation-delay: 0.3s;
}

.menu li:nth-child(3){
    animation-delay: 0.6s;
}

.menu li:nth-child(4){
    animation-delay: 0.9s;
}

.menu li:nth-child(5){
    animation-delay: 1.2s;
}

.menu li:nth-child(6){
    animation-delay: 1.5s;
}

@keyframes menuanim{
    0%{
        opacity: 0;
        margin-top: -80px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li a:active{
    transform: scale(1.2);
}

.menu li a:hover{
    color: orange;
}

main{
    width: 100%;
    height: 100%;
}

.Main {
    width: 100%;
    height: 100%;
    background: url(../img/MainGuy.png) no-repeat 90% 100%/auto 85%, url(../img/MainBG.jpg) center/cover no-repeat;
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px -4px 30px 2px;

}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c364a;
    text-align: center;
    -webkit-animation: ttle 0.8s ease forwards;
    -o-animation: ttle 0.8s ease forwards;
    animation: ttle 0.8s ease forwards;
    -webkit-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    animation-delay: 1.4s;
    opacity: 0;
}

.title_container input{
    transition: all 0.1s;
}

.title_container input:hover{
    color: white;
    background-color: #334051;
}

.title_container input:active{
    transform: scale(1.2);
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    font-size: 22px;
    color: #79818d;
    margin-top: 40px;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px;
}

@keyframes ttle{
    0%{
        opacity: 0;
        margin-left: -200px;
    }
    100%{
        opacity: 1;
        margin-left: 404px;
    }
}

.AboutMe {
    width: 100%;
    height: 717px;
    background: url(../img/WhiteBG.jpg)
}

.AboutMe h2 {
    padding-top: 107px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.AboutMe p{
    max-width: 40%;
    margin: 0px auto;
    color: #3f495a;
    text-align: center;
    font-size: 14px;
}

#AboutMeImg {
    display: block;
    margin: 60px auto auto auto;
    animation-name: opacityspin;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes opacityspin{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#AboutMeImg {
    
}

#TitleRowImg {
    display: block;
    margin: 31px auto auto auto;
}

#AMP1 {
    margin-top: 23px;
}

#AMP2 {
    margin-top: 40px;
}

.AboutMe input {
    float: top;
    display: block;
    border: 1px solid #6f707e;
    border-radius: 4px;
    font-size: 11px;
    padding: 9px 11px 10px 31px;
    margin: 36px auto auto auto;
    background: url(../img/Down.png) no-repeat 10px 50%;
    color: #6f707e;
    transition: all 0.1s;
}

.AboutMe input:hover {
    color: white;
    background-color: #334051;
}

.AboutMe input:active {
    transform: scale(1.2);
}

.WhatICan {
    width: 100%;
    height: 523px;
    background: url(../img/WhatICanBG.jpg) no-repeat center/cover
}

.WhatICan h2 {
    text-align: center;
    padding-top: 107px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.WhatICan h4{
    padding: 36px 0px 0px 0px;
    font-size: 14px;
    text-align: center;
    color: #cf7600;
    font-weight: 600;
}

.WhatICan div{
    padding: 108px 0px 0px 83px;
    float: left;
}

.WhatICan p{
    max-width: 210px;
    text-align: center;
    font-size: 12px;
    padding-top: 16px;
}

#WhatICan1{
    padding-left: 407px;
}

.WICIMG{
    padding-left: 78px;
}

.Cases {
    height: 1140px;
    width: 100%;
    background: #fff;
}

.Cases h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #384354;
    font-weight: bold;
    text-align: center;
    padding-top: 110px;
}

.Cases>p {
    font-size: 12px;
    text-align: center;
    color: #3f495a;
    padding-top: 36px;
}

.scrolling {
    padding-top: 41px;
    display: block;
    margin: auto;
}

.Cases h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 38px;
    color: #384354;
    float: bottom;
}

.CasesSpan{
    padding: 0px 0px 0px 2px;
    margin-top: 14px;
}

#C{
    padding-top: 14px;
}

.Cases h4 {
    font-size: 16px;
    color: #384354;
    font-weight: bold;
}

#nn{
    padding-left: 388px;
    float:left;
}

.CasesProject{
    padding: 38px 0px 0px 637px;
}

.CasesProject p{
    padding-top: 11px;
    max-width: 70%;
}

.Cases input{
    margin-top: 22px;
    border: 1px solid #63b5ae;
    border-radius: 5px;
    background: #63b5ae;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    height: 44px;
    width: 201px;
    font-weight: bold;
    color: #fff;
    transition: all 0.1s;
}

.Cases input:active{
    transform: scale(1.2);
}

.Cases input:hover{
    background: white;
    color: #63b5ae;
}

.Price {
    width: 100%;
    height: 840px;
    background: #fff;
}

.Price h2 {
    text-align: center;
    padding-top: 107px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.Price1{
    padding: 59px 0px 0px 494px;
}

.Price1 h3{
    color: #1c2534;
    font-size: 19px;
    text-transform: uppercase;
}

.Price1 select{
    margin: 22px 0px 49px 0px;
    width: 891px;
    height: 56px;
    background: #eeeeee;
    font-size: 11px;
    font-weight: bold;
    color: #737373;
    padding-left: 23px
}

.Price1 span{
    font-size: 14px;
    color: #1c2534;
    text-transform: uppercase;
    font-weight: bold;
}

.deadline{
    padding-top: 16px;
}

.sum{
    padding-top: 23px;
}

#dd{
    display: block;
    float: left;
}

#rez{
    display: block;
    text-align: end;
    margin-right: 520px;
}

.Stats {
    width: 100%;
    height: 498px;
    background: url(../img/StatsBG.jpg);
}

.Stats h2 {
    text-align: center;
    padding-top: 103px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.Stats div{
    float: left;
    padding: 84px 0px 0px 154px;
}

#stat1{
    padding-left: 437px;
}

.statsimg{
    display: block;
    margin: auto;
}

.Stats h3{
    text-align: center;
    padding-top: 32px;
    font-size: 26px;
    font-weight: bold;
    color: #323e4f;
}

.Stats p{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #323e4f;
}

.Reviews {
    width: 100%;
    height: 590px;
    background: url(../img/ReviewsBG.jpg);
}

.Reviews h2 {
    text-align: center;
    padding-top: 106px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

#ReviewPhoto {
    padding-top: 58px;
    display: block;
    margin: auto;
}

.Reviews p {
    padding-top: 35px;
    font-size: 12px;
    color: #243042;
    text-align: center;
}

#u {
    padding-top: 37px;
    font-size: 10px;
    color: #243042;
    text-align: center;
}

.DotReviews1 {
    padding: 50px 7px;
    padding-left: 931px;
    float: left;
}

.DotReviews {
    padding: 50px 7px;
    float: left;
}

.Contacts {
    height: 808px;
    width: 100%;
    background: url(../img/ContactsBG.jpg) no-repeat center/cover;
}

.Contacts h2 {
    color: #fff;
    padding-top: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

#UndertitleContacts{
    padding-top: 32px;
    text-align: center;
}

.geo{
    float: left;
    padding: 47px 0px 0px 653px;
}

.geo:hover{
    transform: scale(1.2);
    transition: all 0.1s;
}

.geo p{
    text-align: center;
    padding-top: 14px;
}

.geo img{
    display: block;
    margin: auto;
}

.mail{
    float: left;
    padding-top: 47px;
    padding-left: 120px;
    transition: all 0.1s;
}

.mail:hover{
    transform: scale(1.2);
}

.mail p{
    text-align: center;
    padding-top: 14px;
}

.mail img{
    display: block;
    margin: auto;
}

.phone{
    padding: 47px 0px 0px 10px;
    transition: all 0.1s;
}

.phone:hover{
    transform: scale(1.2);
}

.phone p{
    padding-top: 14px;
    padding-left: 1130px;
}

.phone img{
    padding-left: 154px;
}

.Contacts h3{
    font-size: 14px;
    color: #fff;
    margin-top: 39px;
    text-align: center;
    font-weight: bold;
}

.Contacts p{
    color: #fff;
    font-size: 12px;
}

.input1{
    margin: 46px 0px 0px 594px;
    width: 352px;
    height: 34px;
    padding-left: 13px;
    opacity: 70%;
    font-size: 11px;
}

.input2{
    margin: 46px 0px 0px 28px;
    width: 352px;
    height: 34px;
    padding-left: 13px;
    opacity: 70%;
    font-size: 11px;
}

.input3{
    margin: 46px 0px 0px 594px;
    width: 736px;
    height: 94px;
    padding-left: 13px;
    opacity: 70%;
    font-size: 11px;
    padding-top: 10px;
}

.input4{
    display: block;
    margin: 28px auto 0px auto;
    font-size: 14px;
    text-shadow: solid 0px 0px 10px 1px black;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 17px;
    transition: all 0.1s;
}

.input4:hover{
    background-color: white;
    color: #354051;
}

.input4:active{
    transform: scale(1.2);
}

.socials{
    padding-left: 752px;
    padding-top: 74px;
}

.socs{
    padding-left: 50px;
    transition: all 0.1s;
}

.socs:hover{
    display: inline-block;
    color: orange;
   
}

.socs:active{
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 96px;
    background: #354051;
}

footer h5 {
    color: #fff;
    line-height: 96px;
    text-align: center;
}